# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
ENV/
venv/
pip-wheel-metadata/

# Flask SQLite (if used during testing)
*.db
instance/

# Flask instance folder
instance/

# VS Code settings
.vscode/

# Environment variables
.env

# Mac system files
.DS_Store

# Flask-Migrate folder
migrations/

# Docker
*.log
*.pid
*.sock
*.pid.lock

# Pytest cache
.pytest_cache/

# MyPy / coverage / testing cache
.mypy_cache/
coverage.xml
htmlcov/
.cache/
